* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f100;
}


#root {
  width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.pfp-name{
  color: #888;
  margin: 0px 20px;
}

.projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 70vw;
  margin: auto;
}

@media (max-width: 800px) {
  .projects {
    grid-template-columns: 1fr; /* só uma coluna */
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
